<ul id="photos" class="connected list">
  <% @pictures.each_with_index do |p| %>
          <li class="show">
            <%= image_tag p.image.url(:medium) %>
            <button class='btn warning delete'>Delete</button>
          </li>
  <% end %>
</ul>

<div id="effects">
  <div>
    <button id="go" class="btn">Go</button>
  </div>
  <label>Speed:</label>
  <input type="range" min="1" max="10" id="time" value="5"></p>
  <button id="fadeIn" class="btn">Fade In</button>
  <button id="slide" class="btn">Slide</button>
  <button id="simple" class="btn">Simple</button>
</div>


