// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.slide{

  display: none;
}

#photos{
  height: auto!important; min-height: 300px; height: 300px;
  text-align:center;
}

#effects{
  text-align:center;
}